img {
  height: 30px;
  margin: 10px 0 10px 0;
  float: left;
}

.logo-text {
  padding-left: 10px;
  width: 123px;
  height: 50px;
  float: left;
}

.logo-text span {
  line-height: 19px;
  font-size: 13px;
  color: #666;
  text-align: left;
  vertical-align: middle;
}

.navbar.navbar-default {
  background: #fff;
  box-shadow: 0 0 25px rgba(0,0,30,.12);
}

.navbar {
  margin-bottom: 0;
}
