section.question {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 25px rgba(0,0,30,.12);
}

.question div {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid lightgrey;
}

.question ul {
  list-style-type: none;
  padding: 0;
}

.question ul li {
  margin: 0;
  border-bottom: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
}

.question ul li:hover {
  cursor: pointer;
  background: lightgrey;
}

.answer {
  font-size: 15px;
}

span.mark {
  display: block;
  height: 15px;
  width: 15px;
  margin: 3px 10px 0px 5px;
  border: 1px solid black;
  float: left;
  line-height: 32px;
  vertical-align: middle;
}

.green-back {
  background: lightgreen;
  padding: 2px;
}

.red-back {
  background: lightpink;
  padding: 2px;
}
